[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
botd = {path = "."}
wheel = ">=0.38"  # https://pyup.io/vulnerabilities/PVE-2022-51499/51499/

[dev-packages]

[requires]
python_version = "3.9"
