[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twisted = {extras = ["tls"], version = ">=22.4"}

[dev-packages]
bandit = "*"
black = "*"
flake8 = "*"
mypy = "*"
pylint = "*"

[requires]
python_version = "3.13"
